{% extends "model-page.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mt-2">Evento</h1>
            <form action="submit" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input class="form-control" id="titulo" type="text" name="titulo">
                </div>
                <div class="form-group">
                    <label for="data_evento">Data e Hora</label>
                    <input class="form-control" id="data_evento" type="datetime-local" name="data_evento">
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control" id="descricao" name="descricao" rows="5"></textarea>
                </div>
                <a href="/" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
<!--            {% for message in messages %}-->
<!--            <div class="alert alert-danger mt-3">-->
<!--                <b>Erro: </b> {{message}}-->
<!--            </div>-->
<!--            {% endfor %}-->
        </div>
    </div>
</div>
{% endblock %}